<?xml version="1.0" encoding="utf-8"?>
<!--
  WRLDZ lab (Galaxy S23 Ultra): phone AR camera + GO map GPS.
  screenOrientation fullUser so salvage OST can lock landscape for a duel
  and the overworld can return to portrait. Runtime WrldzLab owns the lock.
  Merged by Unity with the generated player manifest.
-->
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <uses-feature android:name="android.hardware.camera" android:required="false" />
    <uses-feature android:name="android.hardware.camera.ar" android:required="false" />
    <uses-feature android:name="android.hardware.camera.autofocus" android:required="false" />
    <uses-feature android:name="android.hardware.location.gps" android:required="false" />
    <uses-feature android:name="android.hardware.touchscreen" android:required="true" />
    <uses-feature android:glEsVersion="0x00030000" android:required="true" />

    <application>
        <meta-data android:name="com.google.ar.core" android:value="optional" />
        <activity
            android:name="com.unity3d.player.UnityPlayerActivity"
            android:exported="true"
            android:screenOrientation="fullUser"
            android:configChanges="mcc|mnc|locale|touchscreen|keyboard|keyboardHidden|navigation|orientation|screenLayout|uiMode|screenSize|smallestScreenSize|fontScale|layoutDirection|density"
            android:hardwareAccelerated="true"
            android:launchMode="singleTask"
            tools:node="merge">
            <meta-data android:name="android.notch_support" android:value="true" />
        </activity>
    </application>
</manifest>
